$brand-primary: #ffc0cb;
$primary-font-size: 12pt;
$secondary-font-size: $primary-font-size / 2.5pt;
$card-colour: #ffa500;
$text-colour: #4a4a4a;
$body-background: #00008b;
$button-background: #ffffff;
$button-text: #000000;